img {
    max-width: 100%;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
.intro {
    margin: 0 auto;
    padding: 1em;
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
    @media only screen and (min-width: em(739)) {
        font-size: 1.8em;
        padding: 2em 1em 1em 1em;
    }
}
article {
    position: relative;
    max-width: 900px;
    margin: 2em auto;
    .number {
        box-sizing: content-box;
        border-top: 2px solid #5DBEF0;
        position: relative;
        margin-top: 2.4em;
        //padding: 1.2em 0;
        span {
            font-size: 2em;
            width: 1em;
            padding: 0.2em;
            text-align: center;
            line-height: 1;
            position: absolute;
            top: -.75em;
            left: 50%;
            border: 2px solid #5DBEF0;
            border-radius: 1em;
            background: white;
            transform: translateX(-50%);
            color: #5DBEF0;
        }
    }
    .text {
        max-width: 450px;
    }
    .button {
            @media only screen and (min-width: em(600)) {
                //position: absolute;
                //top: 5em;
                //right: 0;
            }
        }
    img {
        //border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(6,8,8,0.25);
		max-height: 80vh;
		margin: 0 auto;
		display: block;
    }
}