a[target="_blank"] {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
a[target="_blank"]:before {
    content: "Opens in new tab";
    opacity: 0;
    display: inline-block;
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.1em 6px;
    white-space: nowrap;
    background: rgba(99, 119, 156, 0.9);
    color: white;
    text-decoration: none;
    transition: opacity 1s ease;
}
a[target="_blank"]:after {
    content: "";
    opacity: 0;
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid rgba(99, 119, 156, 0.9);
    position: absolute;
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 1s ease;
}
a[target="_blank"]:hover:before {
    opacity: 1;
}