ul.tabs {
    @include clearfix;
    text-align: center;
    border-bottom: 2px solid #5DBEF0;
    margin: 2em 0;
    padding: 0 0.5em;
    display: flexbox; /* ie 10/11 */
    display: flex;
    justify-content: center;
}
ul.tabs li {
    display: block;
    width: 50%;
    text-align: center;
    float: left;
    background-image: none;
    padding: 0;
    margin: 0;
}
ul.tabs li a {
    display: block;
    color: #fff;
    font-size: 80%;
    padding: 1.2em 0;
    border-bottom: none;
    border-right: 1px solid #fff;
    border-top: 2px solid #fff;
    background: #5DBEF0;
    text-decoration: none;
}
ul.tabs li a.current {
    background: #fff;
    color: #5DBEF0;
    border-top: 2px solid #5DBEF0;
    border-left: 2px solid #5DBEF0;
    border-right: 2px solid #5DBEF0;
    border-bottom: 2px solid #fff;
    margin-bottom: -2px;
    margin-right: 1px;
}
@media only screen and (min-width: em(401)) {
    ul.tabs li {
        width: 200px;
    }
    ul.tabs li a {
        font-size: 90%;
        padding: 1.2em 1em;
    }
}
.tab {
    display: none;
    padding: 1em;
    &.current {
        display: block;
    }
    header {
        text-align: center;
        h2 {
            color: #5DBEF0;
        }
        p {
            max-width: 600px;
            margin: 0 auto;
            font-size: em(18);
        }
    }
}