.videoGrid {
    list-style: none;
    padding: 0;
    li {
        position: relative;
        height: 300px;
        overflow: hidden;
        margin-bottom: 20px;
        a {
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            color: #000;
            padding: 5px;
            &:hover {
                box-shadow: 0 0 10px #63779c;
                cursor: pointer;
                &:before {
                    content: "";
                    height: 30px;
                    width: 20px;
                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR…IfdZoLi57Gj+o4rg1eADvB2WIa4eIUHtpWohIEQRAZolB4B1rWD7BBwWNxAAAAAElFTkSuQmCC);
                    background-repeat: no-repeat;
                    color: #fff;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    z-index: 999;
                }
            }
        }
    }
    /* 321px up */
    @media only screen and (min-width: 20.0625em) {
        @include clearfix;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            float: left;
            padding: 5px;
            .videoTitle {
                display: block;
                font-weight: bold;
            }
        }
    }
    /* 600px up */
    @media only screen and (min-width: 37.5em) {
        li {
            width: 25%;
        }
    }
}

.overlay.on {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}
.videoWrapper {
	//position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 50%;
    transform: translate(-50%, -50%);
	left: 50%;
	width: 80%;
	height: 80%;
}