.videoGrid {
    list-style: none;
    padding: 0;
    li {
        position: relative;
        height: 300px;
        overflow: hidden;
        margin-bottom: 20px;
        a {
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            &:hover {
                box-shadow: 0 0 10px #63779c;
                cursor: pointer;
                &:before {
                    content: "";
                    height: 30px;
                    width: 20px;
                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR…IfdZoLi57Gj+o4rg1eADvB2WIa4eIUHtpWohIEQRAZolB4B1rWD7BBwWNxAAAAAElFTkSuQmCC);
                    background-repeat: no-repeat;
                    color: #fff;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
        }
    }
    @media only screen and (min-width: 20em) {
        @include clearfix;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            float: left;
            padding: 10px;
            .videoTitle {
                display: block;
                font-weight: bold;
            }
        }
    }
    @media only screen and (min-width: 37.5em) {
        li {
            width: 25%;
        }
    }
}